---
layout: default

---

  <div class="PageNavigation">
    {% if page.previous.url %}
      <a class="prev" href="{{site.baseurl}}{{page.previous.url}}">&laquo; Older </a>
    {% endif %}
    {% if page.next.url %}
      <a class="next" href="{{site.baseurl}}{{page.next.url}}"> Newer &raquo;</a>
    {% endif %}
  </div>

  <article class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <div class="post-meta">
    {%- assign date_format = site.date_format | default: "%-d %b %Y" -%}
    <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: date_format }}</time>
    {%- if page.last_modified_at -%}
      <span> ~ </span>
      {%- assign mdate = page.last_modified_at | date_to_xmlschema -%}
      <time datetime="{{ mdate }}" itemprop="dateModified">
        {{ mdate | date: date_format }}
      </time>
    {%- endif -%}

  </div>

  {{ content }}


</article>

<div class="PageNavigation">
  {% if page.previous.url %}
    <a class="prev" href="{{site.baseurl}}{{page.previous.url}}">&laquo; Older </a> 
  {% endif %}
  {% if page.next.url %}
    <a class="next" href="{{site.baseurl}}{{page.next.url}}"> Newer &raquo;</a>
  {% endif %}
</div>

